* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.header-container
{
  display:          flex;
  justify-content:  space-between;
  align-items:      center;
  flex-flow:        row wrap;
 
  padding-right:    24px;
  padding-left:     24px;
  padding-top:      0px;
  padding-bottom:   0px;

  margin:           0px;

  background-color: turquoise;
}

.header-item
{
  text-align:       center;
  background-color: tomato;
  padding:          6px;
}

.navigation-container
{
  display:          flex;
  justify-content:  space-between;
  align-items:      center;
  flex-flow:        row wrap;
 
  padding-right:    24px;
  padding-left:     24px;
  padding-top:      0px;
  padding-bottom:   0px;

  margin:           0px;

  background-color: lightgreen;
}

.nav-item
{
  text-align:       center;
  background-color: tomato;
  padding:          6px;
  /*
  padding-right:    0px;
  padding-left:     0px;
  padding-top:      0px;
  padding-bottom:   0px;
  */
}

.show-reel-container
{
  display:          flex;
  background-color: blue;
  flex-flow:        row wrap;
  justify-content:  space-around;
  height: 500px;
  width: 100%;
}

.show-reel-content
{
  background-color: magenta;
}

.table
{
  table-layout: auto;
  border-color: black;
  margin: 24px;
}

.article-container
{
  display:          flex;
  justify-content:  space-evenly;
  flex-direction:   row;
  flex-wrap: wrap;
  align-content: center;

  width: 100%;
  height: 100%;
  background-color: tomato;
}

.article-header
{
  background-color: magenta;
  text-align: center;
  width: 100%;
}

.article-content
{
  flec-flow: row wrap;
  text-align: left;

  height: 300px;
  width: 60%;
  padding: 12px;
  margin: 12px;
  background-color: lightcyan;

  font-size: 18px;

}

.article-media
{
  text-align: center;

  height: 300px;
  width: 30%;
  padding: 12px;
  margin: 12px;
  background-color: magenta;
}

.nav-container
{

  flex-flow:       row wrap;
  justify-content: space-evenly;
  padding:         0;
  margin:          0;
  list-style:      none;
}

.footer-container
{
  display:         flex;

  flex-flow:       row wrap;
  justify-content: space-evenly;
  padding:         0;
  margin:          0;
  list-style:      none;
}

.BackgroundImg
{
  background-image:url(assets/BG.jpg);
  background-position: absolute;
  width: auto;
  height: auto;
  z-index: -1;
}

/*links*/

a:link
{
  
}

a:visited
{

}

a:hover
{

}

a:active
{

}


