/* PROJECTS PAGE */
#project-list {
    padding: var(--space-4);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--space-6);
}

.card-list {
    padding: var(--space-4);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--space-6);
}

/* CONTACT PAGE */
#contact-form {
    margin-top: var(--space-6);
}

#contact-form button {
    margin-top: var(--space-4);
    align-self: flex-start;
}

.cv-container {
    width: min(1200px, 90%);
    height: auto;
    margin: auto;
    padding: var(--space-4);
    border-bottom: solid 1px var(--color-contrast-muted);
}

@media (max-width: 768px) {
    #bio {
        grid-template-columns: 1fr;
    }

    #project-list {
        display: flex;
        flex-flow: column;
    }

    #experience-list {
        display: flex;
        flex-flow: column;
    }
}